<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="stylesheets/style1.css">
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Document</title>
   <style>
     
   </style>

    <script>
      // JavaScript for toggling submenus
      function toggleSubmenu(event) {
        var submenu = event.target.nextElementSibling;
        if (submenu.style.display === "block") {
          submenu.style.display = "none";
        } else {
          submenu.style.display = "block";
        }
      }
    </script>

</head>

<body>

    <div class="wrapper">
        <!--Top menu -->
        <div class="sidebar">
           <!--profile image & text-->
           <div class="profile">
            <img src="/stylesheets/profile_icon.jpg" alt="profile_picture">
            <h3>Username</h3></div>
        
            <!--menu item-->

  <ul>
    <li>
      <a href="#" onclick="openPage(event, 'Dashboard')">
          <span class="icon"><i class="fas fa-desktop"></i></span>
          <span class="item">My Dashboard</span>
      </a>
  </li>

  <li>
    
    <a href="#" onclick="toggleSubmenu(event)">
      <span class="icon"><i class="fas fa-desktop"></i></span>
      <span class="item">Create Event</span></a>
    
    <!-- Submenu -->
    <ul class="submenu">
      <li><a href="#" onclick="openPage(event, 'CreateSingleEvent')">Create Single Event</a></li>
      <li><a href="#" onclick="openPage(event, 'CreateMultipleEvent')">Create Multiple Event</a></li>
    </ul>
  </li>

  <li>
    <a href="#" onclick="showPage('reminders')">
        <span class="icon"><i class="fas fa-desktop"></i></span>
        <span class="item">Reminders</span>
    </a>
    </li>

  </ul>

  </div>
</div>

  <!-- Main content -->

    
  <form>
    <div id="Dashboard" class="tabcontent">
            <h1 style="text-align: center">Event Management Program Tool..!!</h1>
           
      
    </div>
</form>

<!-- Single Create Event -->
<form>
<div id="CreateSingleEvent" class="tabcontent" align="center">
  <br>
  <br>
  <br>
      <div align="center">
          <table>
              <tr>
                  <td> 
                      <label for="loca" align="left">Location :</label>
                      <select id="location " align="right" >
                        <option value="Location0"></option>
                        <option value="Location1">Bangalore</option>
                        <option value="Location2">Hyderabad</option>
                        <option value="Location3">Chennai</option>
                      </select>
                  </td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                  <td> <label for="event" align="left">Event type :</label>
                      <select id="eventtype " align="right">
                          <option value="0"></option>
                          <option value="In-room">In-room</option>
                        <option value="virtual">Virtual</option>                          
                      </select>
                  </td>
              </tr>
              <tr>
                  <td>
                      <label for="Theam" align="left">theme of event :</label>
                              <select id="themeofevent " align="right" >
                                <option value="themeofevent0"></option>
                                <option value="themeofevent1">theme of event 1</option>
                                <option value="themeofeven2">theme of event 2</option>
                              </select>                  
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                  <td>
                      <label for="Closed">closed/ open ended :</label>
                              <select id="Closedoropen " >
                                <option value="Closedoropen0"></option>
                                <option value="Closedoropen1">open ended</option>
                                <option value="Closedoropen2">closed</option>
                              </select>                    
                  </td>  
              </tr>
              <tr>
                  <td>
                      <label for="start">Start date :</label>
                              <input type="datetime-local" id="startdate" />
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                    <td>
                      <label for="end">Start date :</label>
                              <input type="datetime-local" id="enddate" />
                    </td>
              </tr>
              <tr>
                  <td>
                      <label for="Plimit">Participents limit :</label>
                              <input type="number" max="500" id="participentslimit" />
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                    <td>
                      <label for="PDL">participents DL :</label>
                              <input type="text" id="participentsDL" />
                    </td>
              </tr>
          
          </table>
          
      <div id="VirtualEventtype" class="hidden">
          <table>
              <tr>
                  <td> <label for="mlink">Meeting link :</label>
                      <input type="text" id="meetinglink" />
                  </td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                  <td> <label for="passcode">Meeting pass code :</label>
                      <input type="text" id="meetingpasscode" />
                  </td>
              </tr>
  
              
          </table>
          <script>
              document.getElementById('eventtype').addEventListener('change', function() {
                  var selectedCountry = this.value;
                  
                  if (selectedCountry === 'virtual') {
                      document.getElementById('VirtualEventtype').classList.remove('hidden');
                  }
              });
          </script>
      
          <style>
              .hidden {
                  display: none;
              }
          </style>
      </div>
    </div>
  </div>
</form>


<!-- Multiple Create Event -->
<form>
<div id="CreateMultipleEvent" class="tabcontent" align="center"> 
<div>
  <p>
      Click on downlod button to download sample document
  </p>
  <a href="/Format.xlsx" download="Format.xlsx">Download Sample</a>
</div>
<br>
<br>
<div>
     
    <form id="uploadForm" enctype="multipart/form-data" method="POST" action="/upload">
    <label for="excelFile">Select Excel file:</label>
    <input type="file" id="excelFile" name="excelFile" accept=".xlsx, .xls"><br><br>

</div>
 </div>
</form>



  <script>
    function openPage(evt, page) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(page).style.display = "block";
  evt.currentTarget.className += " active";
}
document.getElementById("defaultOpen").click();

</script>

  <!-- <script src="/routes/script.js"></script> -->

</body>
</html>