<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management portal-Event Org</title>
    <link rel="stylesheet" href="/stylesheets/Adminhomepage.css" type="text/css">
    <script>// JavaScript for toggling submenus

        function toggleSubmenu(event) {
          var submenu = event.target.nextElementSibling;
          if (submenu.style.display === "block") {
            submenu.style.display = "none";
          } else {
            submenu.style.display = "block";
          }
        }</script>
</head>
<body>


    <div class="wrapper">
        <!--Top menu -->
        <div class="sidebar">
            <div class="profile">
                <!-- <img src="/public/Stylesheets/blank-profile.png" alt="profile_picture"> -->
                <img src="/stylesheets/blank-profile.png">
                <h3>User name</h3>
                <p>User Designation</p>
            </div>
            <ul>
                <li>
                    <a href="./Dashboard.html" >
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Dashboard</span>
                    </a>
                </li>
                <li>

                    <a href="#" onclick="toggleSubmenu(event)">
                      <span class="icon"><i class="fas fa-desktop"></i></span>
                      <span class="item">Create Event</span></a>

                    <!-- Submenu -->
                    <ul class="submenu">
                      <li><a href="./Createsingleevent.html">Create Single Event</a></li>
                      <li><a href="./Createmultipleevent.html">Create Multiple Event</a></li>
                    </ul>
                </li>
                 <li>

                    <a href="#" onclick="toggleSubmenu(event)">
                      <span class="icon"><i class="fas fa-desktop"></i></span>
                      <span class="item">Event Status</span></a>

                    <!-- Submenu -->
                    <ul class="submenu">
                       <li><a href="./ApprovedEvents.html">Approved Events</a></li>
                        <li><a href="./PublishedEvents.html">Published Events</a></li>
                    </ul>
                </li>

                <li>
                    <a href="./Eventnotifications.html">
                        <span class="icon"><i class="fas fa-user-friends"></i></span>
                        <span class="item">Event Notifications/Reminders</span>
                    </a>
                </li>

            </ul>
            <!-- <a href="/login">Log out</a> -->
            <br>
            <br>
            <br>
            <br>
            <form  id="logoutForm" method="POST" action="/logout" align="center" >
                <button type="submit">Logout</button>
            </form>
        </div>
        </div>
<!-- ------------------------------- -->
 <form id-="ApprovedEvents" method="POST" action="" align="center" >
 <div id="ApprovedEvents" align="center">
     <br>
    <h1>Approved Events</h1>
     <br><br><br>
     <table>
    <tr>
        <th>S no</th>
        <th>Event Name</th>
        <th>Event Type</th>
        <th>Date of Event</th>
        <th>Status</th>
        <th>Submitted by</th>
        <th>Submission On</th>
        <th>Comments</th>
        <th>select to approve</th>
    </tr>
    <tr>
        <td>
            1
        </td>
        <td>
            Townhall
        </td>
        <td>
            In-person/Virtual
        </td>
        <td>
            25-Mar-2024
        </td>
        <td>
            Approved
        </td>
        <td>
            Siva
        </td>
        <td>
            10-Mar-2024
        </td>
        <td>
            Approved
        </td>
        <td>
            <input type="checkbox" id="cb1" name="fav_language" value="">
        </td>
    </tr>
    <tr>
        <td>
            2
        </td>
        <td>
            AMA
        </td>
        <td>
            In-person
        </td>
        <td>
            25-Mar-2024
        </td>
        <td>
            Approved
        </td>
        <td>
            Siva
        </td>
        <td>
            10-Mar-2024
        </td>
        <td>
            Approved
        </td>
        <td>
            <input type="checkbox" id="cb2" name="fav_language" value="">
        </td>
    </tr>


  </table>
     <br>
     <br>
     <button id="Pendingpublishbtn" name="Approve">Publish</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

 </div>
 </form>
</body>
</html>