<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management Tool</title>
    <link rel="stylesheet" href="../stylesheets/Adminhomepage.css" type="text/css">
    <script>// JavaScript for toggling submenus


        function toggleSubmenu(event) {
          var submenu = event.target.nextElementSibling;
          if (submenu.style.display === "block") {
            submenu.style.display = "none";
          } else {
            submenu.style.display = "block";
          }
        }</script>


</head>

<body>
<!--Left Navigation Option-->
    <div class="wrapper">
        <!--Top menu -->
        <div class="sidebar">
            <div class="profile">
                <!-- <img src="/public/Stylesheets/blank-profile.png" alt="profile_picture"> -->
                <img src="../stylesheets/images/profile_icon.jpg">
                <h3>User name</h3>
                <p>User role</p>
            </div>
            <ul>

            <li>
                    <a href="#" class="active" onclick="openPage(event, 'home')">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Home</span>
                    </a>
                </li>

                    <li>

                    <a href="#" onclick="toggleSubmenu(event)">
                      <span class="icon"><i class="fas fa-desktop"></i></span>
                      <span class="item">Create Event</span></a>

                    <!-- Submenu -->
                    <ul class="submenu">
                      <li><a href="#" onclick="openPage(event, 'SingleEvent')">Create Single Event</a></li>
                      <li><a href="#" onclick="openPage(event, 'MultipleEvent')">Create Multiple Event</a></li>
                    </ul>
                </li>
                 <li>
                <li>

                 <li>
                    <a href="#" class="active" onclick="openPage(event, 'notify')">
                        <span class="icon"><i class="admin-report"></i></span>
                        <span class="centered">Notify Event</span>
                    </a>
                </li>

                 <li>
                    <a href="#" class="active" onclick="openPage(event, 'cancel-event')">
                        <span class="icon"><i class="cancel"></i></span>
                        <span class="centered">Cancel Event</span>
                    </a>
                </li>

                 <li>
                    <a href="#" class="active" onclick="openPage(event, 'attendance')">
                        <span class="icon"><i class="attendance"></i></span>
                        <span class="centered">Attendance Tracking</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="active" onclick="openPage(event, 'reports')">
                        <span class="icon"><i class="admin-report"></i></span>
                        <span class="centered">Reporting and Metrics</span>
                    </a>
                </li>

            </ul>

            <br>
            <br>
          <form  id="logoutForm" method="POST" action="../Templates/login.html" align="center" >
                <button class="button-15" type="submit" onclick="scripts/logout()">Logout</button>
            </form>
        </div>
        </div>
<!-- ------------------------------- -->


<!--HomePage-->
<div id="home" class="tabcontent" align="center">
      <h1 align="center">Welcome to the Event Management and Registration Tool</h1>
    <br>
    <br>
    <br>
  <p> <h3>
    This tool is simple and automated tool that helps the event organizers to effortlessly setup, schedule and manage events.
    </h3><h3>
    This tool also allows an Participant Management, Event Administration , managing the attendance from captured data and drive
    </h3><h3>
    reports like number of events conducted over a period, attendance metrics, statistics by group, event themes etc.
</h3> <p>
 </div>

<!-- -----Create Single Event------>
<div id="SingleEvent" class="tabcontent" align="center">
     <h1>Create Event</h1>
    <br>
    <br>
    <br>
    <form id="createEventForm" align="center" >
    <div align="center">
            <table>
                <tr>
                    <td>
                        <label align="left">Location :</label>
                        <select id="location" align="right"  required>
                          <option value="" disabled selected>--Select--</option>
                          <option value="Location1">Bangalore</option>
                          <option value="Location2">Hyderabad</option>
                          <option value="Location3">Chennai</option>
                        </select>
                    </td>

                    <td>
                        <label align="left">Department :</label>
                                <select id="Department" align="right" required>
                                  <option value="" disabled selected>--Select--</option>
                                  <option value="1">Cybersecurity</option>
                                  <option value="2">CT</option>
                                  <option value="3">TCOO</option>
                                  <option value="4">EFT</option>
                                  <option value="5">HR</option>
                                </select>
                      </td>

                </tr>
                <tr>
                    <td> <label align="left">Event type :</label>
                        <select id="eventtype" align="right" required>
                            <option value="" disabled selected> --Select--</option>
                            <option value="In-room">In-Person</option>
                          <option value="virtual">Virtual</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td>
                        <label align="left">Theme of an Event:</label>
                                <select id="themeofevent" align="right" required >
                                  <option value="" disabled selected>--Select--</option>
                                  <option value="themeofevent1">Town Hall</option>
                                  <option value="themeofeven2">AMA</option>
                                  <option value="themeofeven3">Celebrations</option>
                                </select>
                      </td>

                    <td>
                        <label >DL Type:</label>
                                <select id="Closedoropen" required>
                                  <option value="" disabled selected>--Select--</option>
                                  <option value="Closedoropen1">Open Group</option>
                                  <option value="Closedoropen2">Restricted Group</option>
                                </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label >Start Date & Time:</label>
                                <input type="datetime-local" id="startdate" required/>
                      </td>

                      <td>
                        <label >End Date & Time:</label>
                                <input type="datetime-local" id="enddate" required/>
                      </td>
                </tr>
                <tr>
                    <td>
                        <label >Participants limit :</label>
                                <input type="number" min="1" max="500" id="participentslimit" required/>
                      </td>

                      <td>
                        <label >Participants DL :</label>
                                <input type="text" id="participentsDL" required/>
                      </td>
                </tr>
                <tr>
                    <td> <label>Meeting link :</label>
                        <input type="text" id="meetinglink" />
                    </td>

                    <td> <label>Meeting Passcode :</label>
                        <input type="text" id="meetingpasscode" />
                    </td>
                </tr>

            </table>



    <br>
    <br>
    <br>
     <div class="button-container">
      <button class="button-15" type="save" id="save-button" >Save Event</button>
      <button class="button-15" type="clear" id="clear-button" onClick="clearForm()">Clear</button>
      <button class="button-15" type="submit" id="submit-button" >Submit Event</button>
     </div>


 <div id="success-message" class="success-message">
  <p>Your Event has been sent for Approval..!!</p>
</div>


 <div id="save-message" class="success-message">
  <p>Your Event has been saved successfully!!</p>
</div>

    <!-- ------------------- -->

    <!-- ------------------------- -->
    </div>
</form>
 </div>

<!-- -----Create Multiple Event------>
<div id="MultipleEvent" class="tabcontent" align="center">
     <br>
    <br>
    <h1> Create Multiple Event</h1>
<br>
    <br>
    <br>
    <br>

<div class="single-line">
    <p>Download the Event Template from <a href="/Format.xlsx" download="Format.xlsx">here</a></p>
</div>

    <br>
    <br>
    <br>
    <div>

        <form id="uploadForm" enctype="multipart/form-data" method="POST" action="/upload">
        <label for="excelFile">Select Excel file:</label>
        <input type="file" id="excelFile" name="excelFile" accept=".xlsx, .xls"><br><br>
        </form>

    </div>
    <br>
    <br>
    <br>
    <div>
        <div class="button-container">
            <button class="button-15" type="upload" id="upload">upload</button>
        </div>
           </div>

 </div>

<!--notify-->
<div id="notify" class="tabcontent" align="center">
<br>
    <h1>My Pending Activations</h1>
     <br><br><br>
     <table>
    <tr>
        <th>Sl No</th>
        <th>Event Name</th>
        <th>Event Type</th>
        <th>Scheduled On</th>
        <th>Submitted by</th>
        <th>Submission On</th>
        <th>Select</th>
    </tr>

<!--{% for row in data %} Implement here to fetch entered value-->
<!--                <tr>-->
<!--                    <td>{{ row[0] }}</td>-->
<!--                    <td>{{ row[1] }}</td>-->
<!--                    <td>{{ row[2] }}</td>-->
<!--                    <td>{{ row[3] }}</td>-->
<!--                    <td>{{ row[4] }}</td>-->
<!--                    <td>{{ row[5] }}</td>-->
<!--                    <td>{{ row[6] }}</td>-->
<!--                    <td>{{ row[7] }}</td>-->
<!--                    <td><input type="radio" name="row_checkbox" value="{{ row[0] }}"></td>-->
<!--                </tr>-->


<tr>
        <td>
            1
        </td>
        <td>
            Townhall
        </td>
        <td>
            Virtual
        </td>
        <td>
            25-Mar-2024
        </td>
        <td>
            Organizer1
        </td>
        <td>
            10-Apr-2024
        </td>
        <td>
            <input type="checkbox" id="b1" name="fav_language" value="Activate">
        </td>
    </tr>

      <tr>
        <td>
            2
        </td>
        <td>
            AMA
        </td>
        <td>
            Virtual
        </td>
        <td>
            25-Jun-2024
        </td>
        <td>
            Organizer2
        </td>
        <td>
            20-Mar-2024
        </td>
        <td>
             <input type="checkbox" id="b2" name="fav_language" value="Activate">
        </td>
    </tr>

      <tr>
        <td>
            3
        </td>
        <td>
            Fire-chat
        </td>
        <td>
            Virtual
        </td>
        <td>
            18-Apr-2024
        </td>
        <td>
            Organizer3
        </td>
        <td>
            20-Mar-2024
        </td>
        <td>
             <input type="checkbox" id="b3" name="fav_language" value="Activate">
        </td>
    </tr>

    <tr>
        <td>
            3
        </td>
        <td>
            Gala Event
        </td>
        <td>
            Virtual
        </td>
        <td>
            18-Sep-2024
        </td>
        <td>
            Organizer4
        </td>
        <td>
            25-Mar-2024
        </td>
        <td>
             <input type="checkbox" id="b4" name="fav_language" value="Activate">
        </td>
    </tr>

  </table>
    <br>
    <br>
    <br>
    <div class="button-container">
        <button class="button-15" onclick="displayPopup()" id="notify-button">Notify</button>
    </div>
    <br>

<div id="custom-alert" class="custom-alert-notify">
  <div class="custom-alert-content-notify">
          <span class="close-notify" onclick="closeCustomAlert()">&times;</span>
    <p id="custom-alert-message"></p>
  </div>
</div>


</div>

<!--Cancel Event-->
<div id="cancel-event" class="tabcontent" align="center">
<br>
    <h1>Cancel Event</h1>
     <br><br><br>
     <table>
    <tr>
        <th>Sl No</th>
        <th>Event Name</th>
        <th>Event Type</th>
        <th>Scheduled On</th>
        <th>Submitted by</th>
        <th>Submission On</th>
        <th>Select</th>
    </tr>

<!--{% for row in data %} Implement here to fetch entered value-->
<!--                <tr>-->
<!--                    <td>{{ row[0] }}</td>-->
<!--                    <td>{{ row[1] }}</td>-->
<!--                    <td>{{ row[2] }}</td>-->
<!--                    <td>{{ row[3] }}</td>-->
<!--                    <td>{{ row[4] }}</td>-->
<!--                    <td>{{ row[5] }}</td>-->
<!--                    <td>{{ row[6] }}</td>-->
<!--                    <td>{{ row[7] }}</td>-->
<!--                    <td><input type="radio" name="row_checkbox" value="{{ row[0] }}"></td>-->
<!--                </tr>-->


<tr>
        <td>
            1
        </td>
        <td>
            Townhall
        </td>
        <td>
            Virtual
        </td>
        <td>
            25-Mar-2024
        </td>
        <td>
            Organizer1
        </td>
        <td>
            10-Apr-2024
        </td>
        <td>
            <input type="checkbox" id="b1" name="fav_language" value="Activate">
        </td>
    </tr>

      <tr>
        <td>
            2
        </td>
        <td>
            AMA
        </td>
        <td>
            Virtual
        </td>
        <td>
            25-Jun-2024
        </td>
        <td>
            Organizer2
        </td>
        <td>
            20-Mar-2024
        </td>
        <td>
             <input type="checkbox" id="b2" name="fav_language" value="Activate">
        </td>
    </tr>

      <tr>
        <td>
            3
        </td>
        <td>
            Fire-chat
        </td>
        <td>
            Virtual
        </td>
        <td>
            18-Apr-2024
        </td>
        <td>
            Organizer3
        </td>
        <td>
            20-Mar-2024
        </td>
        <td>
             <input type="checkbox" id="b3" name="fav_language" value="Activate">
        </td>
    </tr>

    <tr>
        <td>
            3
        </td>
        <td>
            Gala Event
        </td>
        <td>
            Virtual
        </td>
        <td>
            18-Sep-2024
        </td>
        <td>
            Organizer4
        </td>
        <td>
            25-Mar-2024
        </td>
        <td>
             <input type="checkbox" id="b4" name="fav_language" value="Activate">
        </td>
    </tr>

  </table>
    <br>
    <br>
    <br>
    <div class="button-container">
        <button class="button-15"  id="cancel-button">Cancel Event</button>
    </div>
    <br>

<div id="cancel-message" class="success-message">
  <p>Your Event has been Cancelled Successfully..!!</p>
</div>


</div>

<!--Tracking Attendance-->
<div id="notify1" class="tabcontent" align="center">
<br>
    <h1>My Pending Activations</h1>
     <br><br><br>
     <table>
    <tr>
        <th>Sl No</th>
        <th>Event Name</th>
        <th>Event Type</th>
        <th>Scheduled On</th>
        <th>Submitted by</th>
        <th>Submission On</th>
        <th>Select</th>
    </tr>

<!--{% for row in data %} Implement here to fetch entered value-->
<!--                <tr>-->
<!--                    <td>{{ row[0] }}</td>-->
<!--                    <td>{{ row[1] }}</td>-->
<!--                    <td>{{ row[2] }}</td>-->
<!--                    <td>{{ row[3] }}</td>-->
<!--                    <td>{{ row[4] }}</td>-->
<!--                    <td>{{ row[5] }}</td>-->
<!--                    <td>{{ row[6] }}</td>-->
<!--                    <td>{{ row[7] }}</td>-->
<!--                    <td><input type="radio" name="row_checkbox" value="{{ row[0] }}"></td>-->
<!--                </tr>-->


<tr>
        <td>
            1
        </td>
        <td>
            Townhall
        </td>
        <td>
            Virtual
        </td>
        <td>
            25-Mar-2024
        </td>
        <td>
            Organizer1
        </td>
        <td>
            10-Apr-2024
        </td>
        <td>
            <input type="checkbox" id="attendance1" name="fav_language" value="Activate">
        </td>
    </tr>

      <tr>
        <td>
            2
        </td>
        <td>
            AMA
        </td>
        <td>
            Virtual
        </td>
        <td>
            25-Jun-2024
        </td>
        <td>
            Organizer2
        </td>
        <td>
            20-Mar-2024
        </td>
        <td>
             <input type="checkbox" id="attendance2" name="fav_language" value="Activate">
        </td>
    </tr>

      <tr>
        <td>
            3
        </td>
        <td>
            Fire-chat
        </td>
        <td>
            Virtual
        </td>
        <td>
            18-Apr-2024
        </td>
        <td>
            Organizer3
        </td>
        <td>
            20-Mar-2024
        </td>
        <td>
             <input type="checkbox" id="attendance3" name="fav_language" value="Activate">
        </td>
    </tr>

    <tr>
        <td>
            4
        </td>
        <td>
            Gala Event
        </td>
        <td>
            Virtual
        </td>
        <td>
            18-Sep-2024
        </td>
        <td>
            Organizer4
        </td>
        <td>
            25-Mar-2024
        </td>
        <td>
             <input type="checkbox" id="attendance4" name="fav_language" value="Activate">
        </td>
    </tr>

  </table>
    <br>
    <br>
    <br>
    <div class="button-container">
        <button class="button-15" onclick="displayPopup()" id="notify-button1"> Notify</button>
    </div>
    <br>

<div id="custom-alert1" class="custom-alert-notify">
  <div class="custom-alert-content-notify">
          <span class="close-notify" onclick="closeCustomAlert()">&times;</span>
    <p id="custom-alert-message1"></p>
  </div>
</div>


</div>


<!-- Reports;-->
<div id="reports" align="center" class="tabcontent">
    <br>
    <br>

    <h1> Reports and Metrics</h1>
    <br>
    <br>

        <select id="department1" align="right" required>
                                  <option value="0">--Select--</option>
                                  <option value="1">Cybersecurity</option>
                                  <option value="2">CT</option>
                                  <option value="3">TCOO</option>
                                  <option value="4">EFT</option>
                                  <option value="5">HR</option>
         </select>
    <br>
    <br>
    <div class="button-container">
       <input class="button-15" type="submit" value="Show Report" onclick=" openPage(event, 'report')">
    </div>
    <br>
    <br>
    <div id="report" class="tabcontent" align="center">
    <div id="imageContainer" style="display: none;">
        <img id="image" src="" alt="img">
    </div>



    </div>
</div>


<script>

     function openPage(evt, page) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(page).style.display = "block";
  evt.currentTarget.className += " active";
  // Display Image

            var selectedImage = document.getElementById('Department').value;
            var imageElement = document.getElementById('image');
            var imageContainer = document.getElementById('imageContainer');

            if (selectedImage === '1') {
                imageElement.src = '/stylesheets/image1.jpg';
            } else if (selectedImage === '2') {
                imageElement.src = '/stylesheets/image2.jpg';
            } else if (selectedImage === '3') {
                imageElement.src = '/stylesheets/image3.jpg';
            } else if (selectedImage === '4') {
                imageElement.src = '/stylesheets/image4.jpg';
            } else if (selectedImage === '5') {
                imageElement.src = '/stylesheets/image5.jpg';
            }

            imageContainer.style.display = 'block';

}
</script>

<!--script for uplaod button-->
<script>
            document.getElementById('upload').addEventListener('click', function() {
                if(document.getElementById('upload').value){
                // Perform validation (if needed)
                // Save data (if needed)
                alert('File uploaded successfully...!');
                }
                else{
                    alert('Please uploaded file');
                }
            });

        </script>

<!--Notify pop-up-->

<script>
    document.getElementById('notify-button').addEventListener('click', function() {
    displayCustomAlert('Success..!!', 'Notification has been sent to all participants.');
});

function displayCustomAlert(title, message) {
  var customAlert = document.getElementById("custom-alert");
  var customAlertMessage = document.getElementById("custom-alert-message");
  customAlertMessage.innerHTML = '<strong>' + title + '</strong><br>' + message;
  customAlert.style.display = "block";
}

function closeCustomAlert() {
  var customAlert = document.getElementById("custom-alert");
  customAlert.style.display = "none";
}

</script>

<!--Success Message on Submit-->
<script>
    document.getElementById('submit-button').addEventListener('click', function() {
  var successMessage = document.getElementById('success-message');

  // Toggle the display of the success message
  successMessage.style.display = 'block';

  // Add animation by changing opacity
  setTimeout(function() {
    successMessage.style.opacity = '1';
  }, 100);

  // Hide the success message after 3 seconds
  setTimeout(function() {
    successMessage.style.opacity = '0';
  }, 3000);

  // Hide the success message and reset opacity after animation
  setTimeout(function() {
    successMessage.style.display = 'none';
    successMessage.style.opacity = '0';
  }, 3500);
});
</script>

<!--Success Message on Save-->
<script>
    document.getElementById('save-button').addEventListener('click', function() {
  var saveMessage = document.getElementById('save-message');

  // Toggle the display of the success message
  saveMessage.style.display = 'block';

  // Add animation by changing opacity
  setTimeout(function() {
    saveMessage.style.opacity = '1';
  }, 100);

  // Hide the success message after 3 seconds
  setTimeout(function() {
    saveMessage.style.opacity = '0';
  }, 3000);

  // Hide the success message and reset opacity after animation
  setTimeout(function() {
    saveMessage.style.display = 'none';
    saveMessage.style.opacity = '0';
  }, 3500);
});
</script>

<!--Success Message on Cancel-->
<script>
    document.getElementById('cancel-button').addEventListener('click', function() {
  var successMessage = document.getElementById('cancel-message');

  // Toggle the display of the success message
  successMessage.style.display = 'block';

  // Add animation by changing opacity
  setTimeout(function() {
    successMessage.style.opacity = '1';
  }, 100);

  // Hide the success message after 3 seconds
  setTimeout(function() {
    successMessage.style.opacity = '0';
  }, 3000);

  // Hide the success message and reset opacity after animation
  setTimeout(function() {
    successMessage.style.display = 'none';
    successMessage.style.opacity = '0';
  }, 3500);
});
</script>

<!--Clear funtionality-->
<script>
  function clearForm() {
        document.getElementById("createEventForm").reset();
    }
</script>

</body>
</html>